function Test.new 5
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 5
push this 0
add
push argument 0
add
pop pointer 1
push that 0
push constant 5
call Math.multiply 2
pop this 0
push argument 1
push constant 4
add
push constant 9
call Math.multiply 2
push pointer 0
push constant 1
call String.new 1
push constant 119
call String.appendChar 2
push constant 0
push constant 3
push constant 4
call Math.multiply 2
push constant 6
neg
add
call Test.myMeth1 4
add
pop this 1
push constant 11
push argument 2
call Math.divide 2
pop this 2
push pointer 0
return
function Test.myMeth1 1
push argument 0
pop pointer 0
push argument 3
push constant 5
add
push constant 7
push constant 3
call Math.multiply 2
call Math.divide 2
pop local 0
push local 0
return
function Test.double 1
push argument 0
pop pointer 0
push pointer 0
push constant 1
call String.new 1
push constant 108
call String.appendChar 2
push constant 0
push constant 9
push constant 3
neg
call Math.multiply 2
push constant 4
call Math.multiply 2
push constant 6
neg
add
push constant 7
push constant 6
call Math.multiply 2
call Test.triple 1
call Math.multiply 2
call Test.myMeth1 4
pop local 0
push argument 1
neg
push constant 2
call Math.multiply 2
push pointer 0
push constant 1
call String.new 1
push constant 97
call String.appendChar 2
push constant 0
not
push local 0
call Test.myMeth1 4
call Math.multiply 2
push constant 11
add
push constant 4
push constant 5
sub
call Math.divide 2
return
function Test.triple 0
push argument 0
push constant 3
call Math.multiply 2
return
